*
**/*
!bin
!docker
!conf
!pkg
!requirements.txt
!src/3rd/caddy
!src/3rd/pyodbc/pyodbc-pip-patch-0001.diff
!src/data/template.cfg
!src/data/EcdsaPub.key
!build/xcalar-*-installer
!build/licenseCheck
!build/SetXceDefaults.sh
!src/bin/licenseTools/licenseCheck
**/.env
**/.*.env
**/.git
**/.vagrant
**/core.*.*
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.rpm
**/*.deb
**/*.log
**/.libs
**/.deps
*.o
*.l[oa]
**/*.o
**/*.l[oa]
**/xcalar-gui-installer.*.sh
!pkg/gui-installer/xcalar-gui.tar.gz
!scripts/SetXceDefaults.sh
!pkg/gui-installer/xcalar-node.tar.gz
!pkg/gui-installer/node-modules.tar.gz
