# global ignores in all directories
*~
\#*\#
.DS_Store
.env
.*.env
*.gcda
*.gcov
*.gcno
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.swn
*.swo
*.swp
*.tar
*.tar.gz
*.zip
*.rpm
*.deb
*.trs
*.dirstamp
*.egg-info
.cache
.deps/
.docker
puppet/ext/
.libs/
.vagrant/
.vscode
.venv/*
.venv
*/.venv/*
repo/
core.*
cscope.in.out
cscope.out
cscope.po.out
cscope.files
gmon.out
tags
TAGS
test-config.*
test-config-mgmtd.*
template-2.cfg
.clang_complete
.pytest_cache
__pycache__
metastore_db

# top-level ignores
/missing
/build
/buildOut*
/dist
/coverage*
/BUILD_SHA
/NOTICE.XCE
/xcve
/wrkDir
/xcalar-gui
/xcalar-solutions
/xcalar-infra

# doc ignores
/doc/doxygen/

# bin ignores
/bin/childnode
/bin/usrnode
/bin/xcmgmtd
/bin/xccli
/bin/xcmonitor
/bin/xcMapRClient
/bin/xcUpgradeTool
/bin/licenseCheck
/bin/dbgen
/bin/jsPackage
/bin/CreateKey.py
/bin/readKey
/bin/readKey1
/bin/signKey
/bin/protoc-gen-xcrpc_cpp
/bin/protoc-gen-xcrpc_js
/bin/protoc-gen-xcrpc_py
/bin/protoc-gen-xcrpc-serviceinfos_js

# src/bin ignores
/src/bin/pyClient/api/build
!src/bin/pyClient/core
/src/bin/pyClient/core-actual
/src/bin/pyClient/core/xcalar
/src/bin/pyClient/local/build
/src/bin/pyClient/udf/build
/src/bin/tests/pyTest/__init__.py
/src/3rd/thrift/py/build
/src/3rd/thrift/py/src/protocol/fastbinary.*.so

/spark

# src/sqldf ignores
/src/sqldf/sbt/lib_managed/
/src/sqldf/sbt/project/project/
/src/sqldf/sbt/project/target/
/src/sqldf/sbt/target/
/src/sqldf/sbtsparkdeps/lib/
/src/sqldf/sbtsparkdeps/lib_managed/
/src/sqldf/sbtsparkdeps/project/project/
/src/sqldf/sbtsparkdeps/project/target/
/src/sqldf/sbtsparkdeps/target/
/src/sqldf/tests/sbt/project/
/src/sqldf/tests/sbt/target/
/src/sqldf/sbt/src/main/scala/org/xcalar/PlanServer/XlrVer.scala
/src/sqldf/sbt/src/main/java/org/xcalar/SqlParser/SqlBase*

# src/data/qa
# Ignore everything but .tar.gz so people are forced to check in the .tar.gz
!/src/data/qa/netapp/*.tar.gz
!/src/data/qa/*.tar.gz

/pkg/gui-installer/header.sh
/pkg/gui-installer/xcalar-gui-installer.*.sh
/pkg/gui-installer/xcalar-gui-installer.*.tar.gz
/pkg/gui-installer/tests/hosts.txt
/pkg/gui-installer/tests/Dockerfile.el6
/pkg/gui-installer/tests/Dockerfile.el7
/pkg/gui-installer/tests/Dockerfile.ub14
/pkg/gui-installer/integration-tests/*.json

/docker/jupyter-notebook/docker-compose-*
/.tmp/
/tmp/
/xcve-*/
xcve.*/
scripts/t/*.json
scripts/t/err
