[Unit]
Description=Xcalar Express Server for %i
Documentation=https://expressjs.com/
After=network-online.target
Wants=network-online.target
PartOf=xcalar.service
; no Before, xcalar-usrnode lists After with instance ids

[Service]
Restart=always
RestartSec=5
Slice=xcalar.slice
CPUAccounting=true
MemoryAccounting=true

; User and group the process will run as.
User=xcalar
Group=xcalar

Environment=NODE_PATH="/opt/xcalar/lib/node_modules"
EnvironmentFile=/opt/xcalar/etc/default/xcalar
EnvironmentFile=-/etc/default/xcalar

ExecStart=/opt/xcalar/bin/expserver-service.sh %i

TimeoutStopSec=5s

LimitNOFILE=32768
LimitNPROC=65536

ReadWriteDirectories=/var/log/xcalar
WorkingDirectory=/var/tmp/xcalar-root

SyslogIdentifier=xcalar-expserver

[Install]
DefaultInstance=0
