[Unit]
Description=Xcalar Terminal Server
After=network-online.target
Wants=network-online.target
Before=xcalar-usrnode.service
PartOf=xcalar.service

[Service]
Restart=always
RestartSec=5
Slice=xcalar.slice
CPUAccounting=true
MemoryLimit=2G

User=xcalar
Group=xcalar

Environment=NODE_PATH="/opt/xcalar/lib/node_modules"
EnvironmentFile=/opt/xcalar/etc/default/xcalar
EnvironmentFile=-/etc/default/xcalar

ExecStart=/opt/xcalar/bin/terminal-service.sh

TimeoutStopSec=5s
LimitNOFILE=32768
LimitNPROC=65536

NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=read-only

ReadOnlyDirectories=/opt/xcalar
ReadOnlyDirectories=/var/opt/xcalar
# ReadOnlyDirectories=XcalarRoot
ReadWriteDirectories=/var/log/xcalar
RuntimeDirectory=xcalar-terminal
WorkingDirectory=/run/xcalar-terminal

SyslogIdentifier=xcalar-terminal

[Install]
WantedBy=multi-user.target
