https://0.0.0.0:8543 {
    tls self_signed
    proxy /install http://localhost:12124 {
        without /install
        transparent
    }

    # timeouts are long because letting proxy connections
    # die and retry causes unpredictable results during
    # long events
    timeouts {
        read 4h
        write 4h
    }

    log stderr
    errors stderr
}
