Source: xcalar
Section: database
Priority: optional
Maintainer: Xcalar Inc. <support@xcalar.com>
Homepage: http://www.xcalar.com
Package: xcalar
Architecture: amd64
Depends: libc6, libstdc++6, libgcc1, libaio1, libjansson4, libmysqlclient18, libbsd0, libuuid1, libarchive13, libeditline0, libxslt1.1, node-less, node-uglify, libxml2, libtinfo5, libncurses5, zlib1g, libnettle4, libattr1, liblzo2-2, liblzma5, libbz2-1.0, libltdl7, libcomerr2, libkeyutils1, dnsutils, libsnappy1, curl, sysvinit-utils, sysv-rc, openssl, nfs-common, nfs-kernel-server, libcrypto++9, uuid-runtime, ssl-cert, bind9-host, xcalar-python36, libboost-system1.55.0, libboost-filesystem1.55.0, libboost-regex1.55.0, libsasl2-modules-gssapi-mit, libsasl2-2, libsasl2-modules, xcalar-sqldf, freetds-dev, libsybdb5, xcalar-antlr, python-contextlib2, xcalar-node10, xcalar-arrow-libs
Description: Xcalar Data Platform
Version: 2.3.0
