asn1crypto==0.24.0
azure-storage==0.36.0
boto3==1.9.253
botocore==1.12.253
click==6.7
confluent-kafka==1.2.0
contextvars==2.4
cx-Oracle==6.3.1
docutils==0.13.1
Faker==0.8.17
google-cloud-storage==1.6.0
grpcio==1.28.1
hdfs==2.1.0
# xcalar-python36 should provide http://repo.xcalar.net/deps/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl to meet this
torch==1.0.1.post2
ibm_db==3.0.1
jmespath==0.9.2
jsonpath-rw==1.4.0
jsonpickle==1.2
jupyter==1.0.0
kafka==1.3.3
lxml==3.6.1
matplotlib==2.0.2
Metaphone==0.6
numpy==1.19.4
objectpath==0.5
openpyxl==2.4.8
oscrypto==0.19.1
pandas==0.20.3
protobuf==3.11.2
psutil==4.3.0
psycopg2-binary==2.7.5
pyarrow==0.13.0
pyasn1==0.4.6
pykerberos==1.1.14
pymssql==2.1.4
PyMySQL==0.8.1
pyodbc==4.0.17
pyopenssl==19.1.0
python-dateutil==2.5.3
python-snappy==0.5.1
pytz==2016.6.1
pywebhdfs==0.4.1
requests==2.22.0
requests-kerberos==0.11.0
s3transfer==0.2.1
scikit-learn==0.19.0
scipy==1.1.0
seaborn==0.8.1
six==1.15.0
snowflake-connector-python==1.8.2
sqlparse==0.2.4
structlog==20.1.0
supervisor==4.1.0
tabulate==0.8.7
tensorflow==1.13.1
teradata==15.10.0.21
transitions==0.8.0
virtualenv==20.0.29
xlrd==1.0.0
XlsxWriter==0.9.8
xmltodict==0.10.2
zope.interface==4.2.0
